@{
ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeaderPartialComponent")

<body>
    <div class="wrapper">
        @await Component.InvokeAsync("_LayoutSidebarComponentPartial")
        @await Component.InvokeAsync("_LayoutNavbarComponentPartial")
        <div class="main-panel">
            @RenderBody()

        </div>
        @await Component.InvokeAsync("_LayoutFooterComponentPartial")
    </div>

</body>
@await Component.InvokeAsync("_LayoutScriptComponentPartial")


</html>